#navbar {
    height: 100%;
    width: 100%;
}

#navbar-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.6fr 1.4fr;
    justify-content: start;
    color: #FFF;
    text-align: center;
    font-family: Karla;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-color: #141414;
}

#navbar-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#navbar-logo {
    width: 3.125rem;
    height: 3.75rem;
    flex-shrink: 0;
    margin: 1rem 3rem;
}

#navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link {
    text-decoration: none;
    color: inherit;
}

li:has(.link) {
    list-style-type: none;
}

@media (max-width: 800px) {
    #navbar-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #navbar-links {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fit, 200px);
        justify-content: space-evenly;
    }

    #navbar-logo-container {
        justify-content: space-between;
    }

    li:has(.link) {
        margin: 0.5rem 0;
    }

    #navbar-logo {
        margin: 1rem 2rem;
    }

    #navbar-menu{
        margin: 0 2rem;
    }
    
    #navbar-menu:hover {
        cursor: pointer;
    }
}